<section class="no-padding-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="block margin-bottom-sm">
          <div class="title">
            <strong>User</strong>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>User_id</th>
                <th>User_name</th>
                <th>Password</th>
                <th>Security_q</th>
                <th>Security_a</th>
                <th>Ph_no</th>
                <th>E_mail</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users">
                <td>{{item.User_id}}</td>
                <td>{{item.User_name}}</td>
                <td>{{item.Password}}</td>
                <td>{{item.Security_q}}</td>
                <td>{{item.Security_a}}</td>
                <td>{{item.Ph_no}}</td>
                <td>{{item.E_mail}}</td>
                <td>{{item.First_name}}</td>
                <td>{{item.Last_name}}</td>
                <td>{{item.Address}}</td>
                <td>{{item.DOB}}</td>
                <td>{{item.Role_id}}</td>
              </tr>
              <tr *ngFor="let item of users">
                <td>
                  <button type="button" class="btn btn-success btn-lg" (click)="onUpdate(item.User_id)">update</button>
                </td>
                <td>
                  <button type="button" class="btn btn-dark btn-lg" (click)="onBack()">Back</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>