<input type="text" (keyup)="onKeyup(input1.value)" #input1 >


<button (click)="onAdd()">add</button>
<table>
    <thead>
        <th>Purchase order id</th>
        <th>User_name</th>
        <th>Supplier_name</th>
        <th>Purchase order status</th>
        
      </thead>
  <tr *ngFor="let item of purchase_order">
    <td>{{item.Purchase_order_id}}</td>
    <td>{{item.User_name}}</td>
    <td>{{item.Supplier_name}}</td>
    <td>{{item.Purchase_order_status}}</td>
    
    <td><button (click)="onDelete(item)" >delete</button></td>
    <td><button>update</button></td>
  </tr>

</table>
