<input type="text" (keyup)="onKeyup(input1.value)" #input1 >


<button (click)="onAdd()">add</button>
<table>
    <thead>
        <th>Supplier id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Ph_no</th>     
      </thead>
  <tr *ngFor="let item of supplier">
    <td>{{item.Supplier_id}}</td>
    <td>{{item.Name}}</td>
    <td>{{item.Address}}</td>
    <td>{{item.Ph_no}}</td>
    <td><button (click)="onDelete(item)" >delete</button></td>
    <td><button>update</button></td>
  </tr>

</table>