<input type="text" (keyup)="onKeyup(input1.value)" #input1>
<button class="btn btn-default btn-lg"><a routerLink="/add_sales_payment">Add Sales Payment</a></button>
<section class="no-padding-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="block margin-bottom-sm">
          <div class="title">
            <strong>Sales Payment</strong>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Sales payment date</th>
                <th>User name</th>
                <th>Payment Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sales_payment">
                <td>{{item.Sales_payment_date}}</td>
                <td>{{item.User_name}}</td>
                <td>{{item.Payment_type}}</td>
                <td>
                  <button type="button" class="btn btn-danger btn-lg" (click)="onDelete(item)">delete</button>
                </td>
                <td>
                  <button type="button" class="btn btn-light btn-lg" (click)="onView(item.Sales_payment_id)">View</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>