<input type="text" (keyup)="onKeyup(input1.value)" #input1 >


<button><a routerLink="/add_product">Add Product</a></button>
<table>
    <thead>
        <th>Product id</th>
        <th>Product name</th>
        <th>Description</th>
        <th>QOH</th>        
        <th>Price</th>
        <th>Category_name</th>
        <th>Color_name</th>   
        <th>Design_name</th>     
      </thead>
  <tr *ngFor="let item of product">
    <td>{{item.Product_id}}</td>
    <td>{{item.Product_name}}</td>
    <td>{{item.Description}}</td>
    <td>{{item.QOH}}</td>
    <td>{{item.Price}}</td>
    <td>{{item.Category_name}}</td>
    <td>{{item.Color_name}}</td>
    <td>{{item.Design_name}}</td>
    <td><button (click)="onDelete(item)" >delete</button></td>
    <td><button>update</button></td>
  </tr>

</table>

