<input type="text" (keyup)="onKeyup(input1.value)" #input1 >
<table>
    <thead>
        <th>Purchase id</th>
        <th>Product_name</th>
        <th>Price per unit</th>
        <th>Qty</th>
      </thead>
  <tr *ngFor="let item of purchase_detail">
    <td>{{item.Purchase_id}}</td>
    <td>{{item.Product_name}}</td>
    <td>{{item.Price_per_unit}}</td>
    <td>{{item.Qty}}</td>
    <td><button (click)="onDelete(item)" >delete</button></td>
    <td><button>update</button></td>
  </tr>

</table>
